doctype html
html(lang='sv-SE')
    head
        meta(charset="utf8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title PERSSONs FANCLUB!
        block head
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(rel='stylesheet', href='/css/critical.css')
    body
        header.site-header

        article
            main
                block content
        
        footer.site-footer
            p #[i.ri-heart-fill] #[a.fivebyfive(href='https://www.fivebyfive.se/', rel='noopener nofollow', target='_blank') Fivebyfive]

        link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css')
        link(href="https://fonts.googleapis.com/css2?family=Oxanium:wght@800&family=Rokkitt:wght@400;700&display=swap", rel="stylesheet")
        link(rel='stylesheet', href='/css/non-critical.css')      


        
        block styles
        block scripts