
@include critical {
    html {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-size: 20px;
        @include mobile-only {
            font-size: 18px;
        }
    }
    body, form, input, select, textarea, option, button, p {
        font-family: $font-body;
        font-weight: 400;
        font-size: 1rem;
    }

    h1, h2, h3, h4, h5 {
        font-family: $font-header;
    }
    strong, b {
        font-weight: 700;
    }


    h1 { 
        font-size: 13rem;
    }
    h2 { 
        font-size: 8rem;
    }
    h3 { 
        font-size: 5rem;
    }
    h4 { 
        font-size: 3rem;
    }
    h5 { 
        font-size: 2rem;
    }
}

@include non-critical {
    a {
        color: var(--color-primary);
        text-decoration: none;

        &:hover {
            color: var(--color-secondary);
        }
    }
}

